.navbar {
    background-color: lightcoral;
  }
  .btn {
    color: navy;
    border-color: navy;
  }
  .btn:hover {
    background-color: navy;
    color: white;
  }
.img-self{
    width: 250px;
}

.mt-3{
    margin: $spacer; !important
}

.mx-auto {
    width: 300px;
}
